/.vs
/FlowerViewer/bin
/FlowerWrapper/bin
/Desktop.Metro/bin
/MetroRadiance/MetroRadiance/bin
/MetroRadiance/MetroRadiance.Chrome/bin
/MetroRadiance/MetroRadiance.Core/bin
/Desktop.Metro/obj
/FlowerViewer/obj
/FlowerWrapper/obj
/MetroRadiance/MetroRadiance/obj
/MetroRadiance/MetroRadiance.Chrome/obj
/MetroRadiance/MetroRadiance.Core/obj
/Tools/Json_Api_Prase/bin
/Tools/Json_Api_Prase/obj
